.chatMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatMenuHr {
  border: none;
  height: 2px;
  background-color: #ddd;
  opacity: 0.1;
  border-radius: 5px;
  margin: 20px 0px;
}

.title {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 400px;
}
.Link {
  padding: 10px;
  border-radius: 10px;
  transition: all ease 0.2s;
}

.Link:hover {
  background-color: #2c2937;
}

.upgrade {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.chatMenuPro {
  width: 24px;
  height: 24px;
}

.texts {
  display: flex;
  flex-direction: column;
}

.texts:first-child{
    font-weight: 600;
}

.texts:last-child{
   color: #888;
}
